ul.buttons {
  list-style:none;
}
li.buttons {
  display: inline;
  list-item-position: inside;
}
li.xbuttons {
   float: left;
  /*
  display: inline;
   */
}

html {
  margin:		0px 0px 0px 0px;
  padding:		0px 0px 0px 0px;
}

body {
  margin:		0px 1em 0px 1em;
  padding:		0px 0px 0px 0px;
  background-color:	white;
  color:		black;
}

.contents {
  position:		absolute;
  top:			4em;
  left:			8em;
  right:		1em;
  line-height:		1.2em
}

h1 {
  margin:		0.2em 0px 0px 0px;
  border-bottom:	solid 1px #004444;
  padding-left:		1em;
  padding-top:		0.2em;
  padding-bottom:	0.2em;
  font-size:		140%;
  text-align:		center;
}

.contents h2 {
  border-right:		solid 1px #90B060;
  border-bottom:	solid 1px #90B060;
  padding:		0.2em;
  background-color:	#C0F0A0;
  font-size:		130%;
  font-weight:		bold;
}
.contents h3 {
  border-bottom:	solid #004444 1px;
  padding-left:		3pt;
  font-size:		130%;
}
.contents h4 {
  margin-left:		0.2em;
  margin-right:		0.2em;
  border-left:		solid 1em #000090;
  padding-left:		0.2em;
  font-size:		110%;
}
.contents h5 {
  font-size:		110%;
}
.contents h6 {
  font-size:		100%;
}

.contents p {
  margin-bottom:	0.5em;
}
.contents ul {
  margin:		0.5em 1em 0.5em 1em;
}

.contents dl {
  margin:		0.5em 1em 0.5em 1em;
}
.contents dl dt {
  margin-top:		0.3em;
  font-weight:	bold
}
.contents dl dd {
  margin-bottom:	1px;
  border-right:		solid 1px #CCCCCC;
  border-bottom:	solid 1px #CCCCCC;
}
.contents dl dd dl dd {
  margin-bottom:	1px;
  border-right:		solid 1px transparent;
  border-bottom:	solid 1px transparent;
}

/* Sidebar
* ---------------------------------------------------------------------- */

.sidebar {
  position:		absolute;
  top:			4em;
  left:			0.5em;
  background-color:	#E8E8E8;
}

.sidebar h2 {
  margin-top:		0px;
  padding-left:		0.2em;
  padding-right:	0.2em;
  padding-top:		0.1em;
  padding-bottom:	0.1em;
  background-color:	#006600;
  color:		white;
  font-size:		small;
  font-weight:		bold
}

.sidebar ul {
  margin-left:		0px;
  list-style-type:	none;
  font-size:		small;
}

.sidebar ul li {
/*
  FIXME: MSIE
  border-left:	solid 0.2em transparent;
*/
  border-left:		solid 0.2em #E8E8E8;
  padding:		0.2em;
  font-size:		small;
}

.sidebar ul li.here {
  border-left:		solid 0.2em #FF0000;
  padding:		0.2em;
  font-size:		small;
}

/* Anchor
* ---------------------------------------------------------------------- */

a[id]:hover, a[name]:hover {
  background-color:	transparent;
  color:		black;
  text-decoration:	none;
}
a[id]:active, a[name]:active {
  background-color:	transparent;
  color:		black;
  text-decoration:	none
}

a:link {
  background-color:	transparent;
  color:		#0000FF;
  text-decoration:	none;
}
a:visited {
  background-color:	transparent;
  color:		#000080;
  text-decoration:	none;
}
a:hover {
  background-color:	#FFFF00;
  color:		#0000FF;
  text-decoration:	underline;
};
a:active {
  background-color:	transparent;
  color:		#0000FF;
  text-decoration:	none;
}

/* Common class
* ---------------------------------------------------------------------- */

.nowrap {
  white-space:		nowrap;
}

/* 
* ---------------------------------------------------------------------- */

pre {
  background-color:	#F0F0F0;
  overflow:		auto;
  margin:		0.2em 0em 1em 0em;
  border:		solid 1px black;
  border-right-width:	2px;
  border-bottom-width:	2px;
  width:		auto;
  padding:		5px;
  font-size:		small;
  white-space:		pre;
  line-height:		1.1em;
}

ul {
  margin-left:		1em;
  padding-left:		1em;
}

ul.row {
  list-style:		none;
}

ul.row li {
  display:		inline;
  margin-right:		0.5em;
}

div.header {
  text-align:		right;
  font-size:		small;
}
div.footer {
  text-align:		right;
  font-size:		small;
}

table tbody tr th {
  color:		black;
  background-color:	#C0C0C0;
  text-align:		left;
  font-weight:		bold;
}
table tbody tr td {
  border-color:		#A0A0A0;
  border-bottom-style:	solid;
  border-bottom-width:	1px;
}

