<ul class="buttons">
<li class="buttons"><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-lang="ja" style="border: 0; padding: 0;">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></li>
<li class="buttons"><a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script></li>
<li class="buttons"><span id="fb-root"></span><script
  src="http://connect.facebook.net/ja_JP/all.js#xfbml=1"></script><fb:like href="{{ site.url }}{{ page.url }}" send="true" layout="button_count" width="200" show_faces="true" font=""></fb:like></li>
<li class="buttons"><script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41075109-1', 'fumiyas.github.io');
  ga('send', 'pageview');

</script></li>
<li class="buttons"><g:plusone></g:plusone></li>
</ul>
<div class="footer">
Copyright &copy; {{ site.time | date: '%Y' }} SATOH Fumiyasu @ <a href="http://www.OSSTech.co.jp/">OSS Technology Corp., Japan</a><br />
Blog: <a href="http://fumiyas.github.io/">http://fumiyas.github.io/</a><br />
GitHub: <a href="https://github.com/fumiyas/">https://github.com/fumiyas/</a><br />
Twitter: <a href="https://twitter.com/satoh_fumiyasu">https://twitter.com/satoh_fumiyasu</a><br />
PGP Fingerprint: BBE1 A1C9 525A 292E 6729  CDEC ADC2 9DCA 5E1C CBCA<br />
</div>
