{% if github_quote_file -%}<a href="{{ site.scm.root }}/{{ github_quote_file }}">{{ github_quote_file |split: '/' |last }}</a>
<script src="http://gist-it.appspot.com/github/{% if github_quote_repo %}{{ github_quote_repo }}{% else %}fumiyas/fumiyas.github.io{% endif %}/raw/{% if github_quote_hash %}{{ github_quote_hash }}{% else %}master{% endif %}/{{ github_quote_file }}"></script>
{% assign github_quote_repo = nil %}
{% assign github_quote_hash = nil %}
{% assign github_quote_file = nil %}
{% endif %}
