<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta name="description" content="{{ page.description }}">
<meta name="author" content="{{ site.author }}">
<link rel="canonical" href="{{ site.url }}{%if page.url == "/index.html" %}/{% else %}{{ page.url }}{% endif %}">
<link rel="stylesheet" href="/common/css/normalize.css" type="text/css">
<link rel="stylesheet" href="/common/css/default.css" type="text/css">
<link rel="stylesheet" href="/common/css/syntax.css" type="text/css">
<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">  {lang: ‘ja’}</script>
<script type="text/javascript">
var host = "{{ site.host }}";
if ((window.location.host == host) && (window.location.protocol == "http:"))
  window.location = window.location.toString().replace(/^http:/, "https:");
</script>
</head>
