<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta name="description" content="{{ page.description }}">
<meta name="author" content="{{ site.author }}">
<link rel="stylesheet" href="/common/css/default.css" type="text/css">
<link rel="stylesheet" href="/common/css/syntax.css" type="text/css">
<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
<script type="text/javascript" src="http://apis.google.com/js/plusone.js">  {lang: ‘ja’}</script>
</head>
