ところで、12月25日はクリスマスな上に、
OSS 界隈で地味に活躍されているふみやすさんの誕生日ですね！  
っ <http://www.amazon.co.jp/registry/wishlist/27M7TV8CEEF6G?sort=priority>

逆に、あなたの書いた OSS や Blog や Advent Calendar が気に入ったら何か送りたく
なってしまうかもしれないので、プロフィールや Web サイトに
あなたの Amazon 欲しいものリストの URL を貼っておいてくださいね!

* * *

私が勤める OSSTech っていう某弊社で社員募集しているようです。
人材紹介会社を介さなければ、入社後に 20万円のボーナス!
「ふみやすっていう人に紹介された」と言ってもらえると私にもボーナス!!
→
<https://www.osstech.co.jp/recruit/>

* * *

よろしければ、これまで参加した/参加予定のほかの Advent Calendar もどうぞ。

* Ansible Advent Calendar 2023
    * <https://qiita.com/advent-calendar/2023/ansible>
* シェル芸 Advent Calendar 2023
    * <https://qiita.com/advent-calendar/2023/shellgei>
* 闇の魔術に対する防衛術 Advent Calendar 2023
    * <https://qiita.com/advent-calendar/2023/yaminomajutu>
* Ansible Advent Calendar 2023
    * <https://qiita.com/advent-calendar/2023/ansible>
* Ansible Advent Calendar 2020
    * <https://qiita.com/advent-calendar/2020/ansible_01>
* DNS温泉 Advent Calendar 2019
    * <https://adventar.org/calendars/4346>
* OSSTech Advent Calendar 2019
    * <https://qiita.com/advent-calendar/2019/osstech>
* Ansible Advent Calendar 2018
    * <https://qiita.com/advent-calendar/2018/ansible>
* OSSTech Advent Calendar 2018
    * <https://qiita.com/advent-calendar/2018/osstech>
* Debian/Ubuntu Advent Calendar 2017
    * <https://qiita.com/advent-calendar/2017/debian-ubuntu>
* Linux Advent Calendar 2017
    * <https://qiita.com/advent-calendar/2017/linux>
* Shell Script Advent Calendar 2017
    * <https://qiita.com/advent-calendar/2017/shellscript>
* Shell Script Advent Calendar 2016
    * <https://qiita.com/advent-calendar/2016/shell-script>
* OpenLDAP と仲間たち Advent Calendar 2015
    * <https://qiita.com/advent-calendar/2015/openldap>
* Postfix Advent Calendar 2014
    * <https://qiita.com/advent-calendar/2014/postfix>
* 拡張 POSIX シェルスクリプト Advent Calendar 2013
    * <https://www.adventar.org/calendars/212>
